.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
Assets/Level/Scenes/MAP_Parc[[:space:]]1[[:space:]](Lucas)/LightingData.asset filter=lfs diff=lfs merge=lfs -text
*LightingData*.asset filter=lfs diff=lfs merge=lfs -text
